mixin menu-left(activeTitle, indexActive, ...items)
    .menu-left
        .menu-left__active-item= activeTitle
        ul.menu-left__list
            each val, index in items
                - if (index === indexActive)
                    li.menu-left__item.menu-left__item_active
                        a(href="#")= val
                - else
                    li.menu-left__item
                        a(href="#")= val