@import "./../../common/constants";

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__main {
        flex: 1;
        min-height: 500px;
    }

    &__footer {
        flex-shrink: 0;
    }
}