mixin practice-content()
    .practice-content
        .practice-content__inner
            .container
                .practice-content__row
                    .practice-content__row_navigation
                        h1.practice-content__row_navigation-title Практики
                        .practice-content__row_navigation-theme
                            +menu-left("Выбирете практику", 1, "Судебная, арбитражная практика и разрешение споров","Уголовный и административный процесс","Договорная практика","Международная торговля и внешнеэкономическая деятельность","Недвижимость, строительство и инвестиции","Банки, финансы, страхование, ценные бумаги","Информационные технологии (IT)","Налогообложение, таможенное регулирование, деятельность государственных органов","Корпоративная практика. Слияние и поглощение (M&A)","Трудовое право","Частная практика и физические лица")
                    .practice-content__row_about
                        .practice-content__row_about-information
                            .practice-content__row_about-information-column
                                .practice-content__row_about-information-column-subtitle Адвокатское бюро «МБ Право» оказывает все виды юридической помощи физическим лицам, в том числе индивидуальным предпринимателям, юридическим лицам, а также государству.
                                img.practice-content__about_row-information-column-image(src=require("./../images/partners.png"), alt="partners")
                            .practice-content__row_about-information-text
                                p Адвокатское бюро «МБ Право» обеспечивает своим клиентам эффективную защиту, представляя их интересы в судах Республики Беларусь, в иностранных судах и международных арбитражных судах (Международном арбитражном суде Международной торговой палаты, Арбитражном институте Торговой палаты г. Стокгольма, Международном коммерческом арбитражном суде при ТПП Российской Федерации, Международном арбитражном суде при БелТПП и др.).
                                +our-mission()
                                p Профессиональная ответственность адвокатов «МБ Право» застрахована в одной из крупнейших страховых организаций. Мы уделяем особое внимание вопросам профессиональной этики и конфиденциальности.
