mixin page404()
    .page404
        .container
            .page404__inner
                .page404__numbers 404
                .page404__wrapper
                    .page404__title Ошибка
                    .page404__subtitle К сожалению, такой страницы не существует