include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/welcome/welcome
include components/team-cards/team-cards
include ./components/information/information
include ./components/page404/page404
include ./components/backwards/backwards
include ./components/partner-card/partner-card