mixin our-mission()
    .our-mission
        span.our-mission__text_big Наша миссия:
        span.our-mission__text_little оказывать качественную юридическую помощь, опираясь на знания и опыт команды профессионалов.
