include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
        .home
            .home__main
                +header(null,'header__submenu-link_color-black','header__submenu_bg-color')
                +welcome()
            .home__footer
                +footer('footer__bg-color')