include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
        .practice
            .practice__main
                +header(null,'header__submenu-link_color-black','header__submenu_bg-color')
                +practice-content()
            .practice__footer
                +footer('footer__bg-color')