mixin partner-description()
    .partner-description
        .container
            .partner-description__content
                .partner-description__inner
                    .partner-description__tab.partner-description__tab_active
                        .partner-description__tab-number 1
                        .partner-description__tab-text Профессиональный опыт
                    .partner-description__tab
                        .partner-description__tab-number 2
                        .partner-description__tab-text образование
                .partner-description__experience-wrapper.partner-description__experience-wrapper_active
                    .partner-description__title Профессиональный опыт адвоката за последнее время включает:
                    .editor-content
                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                .partner-description__experience-wrapper
                    .partner-description__title адвоката за последнее время включает:
                    .editor-content
                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid atque autem, culpa cum cumque, cupiditate dolore dolorum ducimus ea est ipsam neque quisquam ratione sequi tempora ut vitae?
