@import "./../../common/constants";

$GREY: #9d9d9d;

.backwards {
    &__link {
        color: $GREY;
        font-family: 'Open-Sans', sans-serif;
        font-size: 16px;

        &:before {
            content: "\2190";
            padding-right: .75rem;
        }
    }
}