@import "./../../common/constants";
@import "./../../../node_modules/swiper/dist/css/swiper.min.css";

$RED: #d41319;
$GREY: #d8d8d8;

.welcome {
    width: 100%;
    height: 100%;

    &__container {
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__slide {
        &:before {
            content: "";
            background-image: url("./../../images/shadow-main.svg");
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 16rem;
        display: flex;
        align-items: center;

        @include md {
            padding-bottom: initial;
        }
    }

    &__content {
        flex: 1;
    }

    &__title {
        color: $RED;
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        line-height: 1;

        @include sm {
            font-size: 48px;
        }
    }

    &__subtitle {
        color: $BLACK;
        font-family: 'Open Sans', sans-serif;
        line-height: 1;
        font-size: 30px;

        @include sm {
            font-size: 36px;
        }
    }

    &__button {
        margin-top: 2rem;
        position: relative;
        display: inline-block;
        color: $RED;
        text-transform: uppercase;
        padding: 0.7rem 2.5rem .5rem;
        border: 1px solid $RED;
        background-color: rgba(255, 255, 255, 0.6);
        height: 100%;
        z-index: 1;
        transition: all .3s ease;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $RED;
            transition: all .3s ease;
            z-index: -1;
        }

        &:hover:before {
            width: 100%;
        }

        &:hover {
            color: $WHITE;
            cursor: pointer;
        }
    }

    &__pagination {

        span {
            cursor: pointer;
        }

        &_bullet {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin: 0 7px;
            background: $GREY;
        }

        &_bullet-active {
            background: $RED;
        }
    }
}